.login-content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 100vh;

}
.login-box{
    padding: 10px;
    margin: 15px;
    display: block;
    position: relative;
    min-width: 350px;
    min-height: 390px;
    align-items: center;
     background-color: #fff;
    -webkit-box-shadow: 0px 29px 147.5px 102.5px rgba(0, 0, 0, 0.05), 0px 29px 95px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 29px 147.5px 102.5px rgba(0, 0, 0, 0.05), 0px 29px 95px 0px rgba(0, 0, 0, 0.16);
    -webkit-perspective: 800px;
    perspective: 800px;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.btn{
    width: 100%;
}
// validata
.form-control.ng-pristine.ng-invalid.ng-touched,
.form-control.ng-touched.ng-dirty.ng-invalid{
    
    border-color:red;
}
.form-control.ng-pristine.ng-invalid.ng-touched:focus,
.form-control.ng-invalid.ng-dirty.ng-touched:focus{
    border-color:red;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, .25);
}

.form-control.ng-pristine.ng-invalid.ng-touched ~ .invalid-feedback,
.form-control.ng-touched.ng-dirty.ng-invalid ~ .invalid-feedback
{
    display: block;
}
.form-radio{
    margin: 10px;
    padding: 5px;
}