<section class="login-content">
        <div class="login-box">
            <div class="container">
                <div class="text-center"><h1>สมัครสมาชิก</h1></div>
                <form (submit)="Onsubmit()" [formGroup]="form">
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <label for="">Username : </label>
                            <input class="form-control" formControlName="customerEmail" type="text" >
                            <div class="invalid-feedback">
                            <small class="message-error"
                            *ngIf="!!Email.errors?.required  && Email.touched">Please choose a Email</small>
                            <small class="message-error"
                            *ngIf="!!Email.errors?.minlength">Please input Email More than 10 characters</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <label for="">Password : </label>
                            <input class="form-control" formControlName="password" type="password">
                            <div class="invalid-feedback">
                                Please choose a password.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <label for="">Full-Name : </label>
                            <input class="form-control" formControlName="customerFullName" type="text">
                            <div class="invalid-feedback">
                                Please choose a Full-Name.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12 form-radio">
                            <div class="custom-control custom-radio custom-control-inline"> 
                                <input type="radio" id="customRadioInline1"  formControlName="customerGender" value="m" class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline1">ชาย</label>
                              </div>
                              <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline2"  formControlName="customerGender" value="g" class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline2">หญิง</label>
                              </div>
                        </div>
                    </div> 
                <div formGroupName="form_birtday">
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <label for="">Birdday : </label>
                            <input class="form-control" formControlName="customerBirthDay" type="date">
                            <div class="invalid-feedback">
                                Please choose a Birdday.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <label for="">Tel : </label>
                            <input class="form-control" formControlName="customerPhone" type="text">
                            <div class="invalid-feedback">
                                <small class="message-error"
                                 *ngIf="!!form_birtday.get('customerPhone').errors?.required  && form_birtday.get('customerPhone').touched"> Please choose a Tel.</small>
                                <small class="message-error"
                                 *ngIf="!!form_birtday.get('customerPhone').errors?.pattern">Please input Number orly.</small>
                                 <small class="message-error"
                                 *ngIf="!!form_birtday.get('customerPhone').errors?.minlength">Please input Email More than 10 characters</small>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <label for="">Tex-Id : </label>
                            <input class="form-control" formControlName="customerTaxId" type="text">
                            <div class="invalid-feedback">
                                Please choose a Tex-Id.
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6 col-lg-6 col-sm-6 mt-1"><button class="btn btn-success" type="submit">ยืนยัน</button></div>
                        <div class="col-md-6 col-lg-6 col-sm-6 mt-1"><button class="btn btn-secondary" routerLink="/login">ย้อนกลับ</button></div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    