.album-main{
    display: flex;
    flex-direction: row;

    flex-wrap: nowrap;
    overflow-x: auto;
}
img{
    width: 150px;
    height: 150px;
    margin: 0px 10px;
}
.box-crad{
    padding: 10px 10px;
    margin: 10px 10px;
}
span.icon{
    position: absolute;
    right: 0;
    padding-right: 20px;
    cursor: pointer;
}
.detail-opd{
    padding: 5px 10px;
    margin: 5px 10px;
}